<div id="accordion-collapse" data-accordion="collapse" class="py-9">
    @for (item of allOrders; track $index) {
    <h2 id="accordion-collapse-heading-{{$index}}">
        <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-300 dark:border-gray-200 dark:text-gray-800 hover:bg-gray-100 dark:hover:bg-gray-300 gap-3"
            data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
            aria-controls="accordion-collapse-body-1">
            <span>Order Number : {{item.id}}</span>
            <div class="flex justify-start">
                <span>shipping Address : {{item.shippingAddress.city}}</span>
                -<span>{{item.shippingAddress.details}}</span>
            </div>
            <span>Phone : {{item.shippingAddress.phone}}</span>
            <span>Total Price : {{item.totalOrderPrice | currency}}</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-collapse-body-{{$index}}" class="">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-200 dark:bg-white">
            <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-900">
                <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-300 dark:text-gray-900">
                    <tr>
                        <th scope="col" class="px-16 py-3">
                            <span class="sr-only">Image</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Product
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Qty
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of item.cartItems; track $index) {
                    <tr
                        class="bg-white border-b dark:bg-white dark:border-white border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-100">
                        <td class="p-4">
                            <img [src]="item.product.imageCover" class="w-16 md:w-32 max-w-full max-h-full"
                                alt="Apple Watch">
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-gray-900 text-lg">
                            {{item.product.title}}
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">

                                <div>
                                    <span>{{item.count}}</span>
                                </div>

                            </div>
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-gray-900 text-lg">
                            {{item.price | currency }}
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }

</div>