<form class="mx-auto bg-gray-100 shadow p-6 my-8 rounded-xl max-w-6xl" [formGroup]="shippingDetails" (ngSubmit)="continue()">

    <h1 class="text-green-600 text-3xl">Shipping Address: </h1>

    @if(apiErrorMessage){
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-200 dark:text-red-800" role="alert">
        <span class="font-medium">
            {{apiErrorMessage}}
        </span>
    </div>
    }

    <div class="relative z-0 w-full mb-5 group mt-4">
        <input type="text" name="details" formControlName="details" id="details"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-green-600 appearance-none dark:text-gray-900 dark:border-gray-400 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />

        <label for="details"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            User Details</label>

        @if (retriveControl('details')?.errors && retriveControl('details')?.touched) {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-200 dark:text-red-800" role="alert">
            <span class="font-medium">
                @if (retriveControl('details')?.errors?.['required']) {
                Required
                }
            </span>
        </div>
        }
    </div>

    <div class="relative z-0 w-full mb-5 group mt-4">
        <input type="tel" name="phone" formControlName="phone" id="phone"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-green-600 appearance-none dark:text-gray-900 dark:border-gray-400 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />
            
        <label for="phone"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            User Phone</label>

        @if (retriveControl('phone')?.errors && retriveControl('phone')?.touched) {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-200 dark:text-red-800" role="alert">
            <span class="font-medium">
                @if (retriveControl('phone')?.errors?.['required']) {
                Required
                }@else if (retriveControl('phone')?.errors?.['pattern']) {
                    Invalid Phone
                }
            </span>
        </div>
        }
    </div>

    <div class="relative z-0 w-full mb-5 group mt-4">
        <input type="text" name="city" formControlName="city" id="city"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-green-600 appearance-none dark:text-gray-900 dark:border-gray-400 dark:focus:border-green-600 focus:outline-none focus:ring-0 focus:border-green-600 peer"
            placeholder=" " required />
            
        <label for="city"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            User City</label>

        @if (retriveControl('city')?.errors && retriveControl('city')?.touched) {
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-200 dark:text-red-800" role="alert">
            <span class="font-medium">
                @if (retriveControl('city')?.errors?.['required']) {
                Required
                }
            </span>
        </div>
        }
    </div>

    <button class="btnDetails">Continue</button>


</form>